name: CI matrix
on:

  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
    types: [opened, synchronize]
    branches:
      - main

jobs:

  build:
    name: build and check
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:

    - name: Set up Go (needed for checkmake)
      uses: actions/setup-go@v6
      with:
        go-version: 'stable'
      id: go

    - name: Check out code
      uses: actions/checkout@v5
      with:
        fetch-depth: 1

    - name:  check (lint Makefile)
      run: make check
      shell: bash

    - name: build and run examples
      run: make run.examples.valid
      shell: bash

    - name:  run tests
      run: make test
      shell: bash

